*{
	box-sizing:border-box;
	margin:0px;
}
body{
	background-color:#4ABDAC;
}
h1{
	text-align:left;
	margin-left:5%;
	color:#BD4A5B;
	display:inline;
}
#home , #branch, #first_yr, .fst_yr, .cse{
	text-align:center;
}
/*
#home button:before{
	content:"\f501";
	font-family:fontAwesome;
}*/
#home button ,#branch button, #first_yr button,.fst_yr button,.cse button{
	width:90%;
	border-radius:15px;
	padding:20px;
	margin-bottom:15px;
	background:transparent;
	transition:0.4s;
	border:1px solid white;
	text-align:left;
	color:white;
}

#home button:hover, #branch button:hover, #first_yr button:hover,.fst_yr button:hover, .cse button:hover{
	background-color:#BD4A5B;
}

#ce button{
	width:100%;
	border-radius:2px;
	height:100px;
	margin-bottom:5px;
}

/*4th sem cse CSS*/
.head{
	width:95%;
	margin:auto;
}
.header{
	width:100%;
	margin:5px;
	/*border:1px solid black;*/
}
.header div{
	margin-right:;
	width:;
	display:inline-block;
	text-align:;
}
.header a{
	text-decoration:none;
}
.content{
	margin:5px;
	height:600px;
	border:1px solid black;
	overflow:;
}
.ln{
	margin:5px;
	height:100px;
	/*border:1px solid yellow;*/
}
.ln a:before{
	content:"\f101";
	font-family:fontAwesome;
}
.ln a{
	display:block;
	text-decoration:none;
}
.lm{
	margin:5px;
	height:100px;
	/*border:1px solid pink;*/
}
.pa{
	margin:5px;
	height:100px;
	/*border:1px solid blue;*/
}