*{
	box-sizing:border-box;
	margin:0px;
}

h1{
	text-align:center;
}

#home button, #branch button, .cse button, #ce button, #first_yr button{
	width:100%;
	border-radius:2px;
	height:100px;
	margin-bottom:5px;
}

/*4th sem cse CSS*/
.head{
	width:95%;
	margin:auto;
}
.header{
	width:100%;
	margin:5px;
	/*border:1px solid black;*/
}
.header div{
	margin-right:;
	width:30%;
	display:inline-block;
	text-align:center;
}
.header a{
	text-decoration:none;
}
.content{
	margin:5px;
	height:600px;
	border:1px solid black;
	overflow:;
}
.ln{
	margin:5px;
	height:100px;
	/*border:1px solid yellow;*/
}
.ln a:before{
	content:"\f101";
	font-family:fontAwesome;
}
.ln a{
	display:block;
	text-decoration:none;
}
.lm{
	margin:5px;
	height:100px;
	/*border:1px solid pink;*/
}
.pa{
	margin:5px;
	height:100px;
	/*border:1px solid blue;*/
}